@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

:root {
  font-size: 16px;
}

* {
  font-family: "Merriweather", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.sub-heading {
  font-family: "Open Sans", sans-serif;
  color: #2079ca;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.sub-heading-text {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
  margin-top: 0.3rem;
}

.date {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.skills-subheading {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.skills-text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.title,
.contact > p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3rem;
}

.title {
  font-size: 1.1rem;
}

.contact {
  font-size: 0.9rem;
}

.location {
  font-weight: bold;
}

main {
  padding: 3rem 1rem;
}

.heading,
.skills,
.languages,
.experience,
.education,
.projects {
  margin-bottom: 3rem;
}

.name-title-box {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  main {
    padding: 3rem 5rem;
  }

  .heading {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .content {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .right-side {
    grid-column-start: 2;
  }

  .left-side {
    grid-row-start: -1;
    padding-right: 3rem;
  }
}
